<!DOCTYPE html>
{% extends "App1/base.html" %}
{% load staticfiles %}

{% block body_block%}

 <div class="jumbotron">
   {% if registered %}
   <h1>Thank you for registration !!</h1>
   {% else %}
   <h1> Register here !!!!! </h1>
   <h3>Please fill out the form below:</h3>
   <form enctype="multipart/form-data"  method="post">
     {% csrf_token %}
     {{user_form.as_p}}
     {{profile_form.as_p}}
     <!-- #these key values are same as the objects created in the views.py for each model -->
     <input type="submit" name="" value="Register">
   </form>

   {% endif %}

 </div>
