#navcomp{

font-family: 'Permanent Marker', cursive;
color: #42f465

}

h1 {
  font-family: 'Euphoria Script', cursive;
}
body{
  background-image: url("http://www2.le.ac.uk/hosted/attenborougharts/images/pageimages/our-attenborough-cafe");
}

.jumbotron{
  
}
