<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Django level 3</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">

        <h1>Welcome to Django level 3</h1>
        <h2>Please use /forms in the url to go to the next page</h2>


      </div>
       {{form}}
    </div>

  </body>
</html>
